opentelemetry-sdk==1.39.1
protobuf==6.33.5
mlflow==3.3.2
scikit-learn==1.7.2
blinker==1.9.0
charset-normalizer==3.4.4
graphql-core==3.2.7
typing-inspection==0.4.2
smmap==5.0.2
contourpy==1.3.3
wandb==0.21.3
tornado==6.5.4
sqlparse==0.5.5
pyarrow==21.0.0
pycparser==3.0
gunicorn==23.0.0
requests==2.32.5
python-dateutil==2.9.0.post0
setuptools==82.0.0
pydantic_core==2.41.5
cryptography==45.0.7
SQLAlchemy==2.0.46
omegaconf==2.3.0
pyasn1_modules==0.4.2
importlib_metadata==8.7.1
greenlet==3.3.1
typing_extensions==4.15.0
munkres==1.1.4
hydra-core==1.3.2
annotated-types==0.7.0
graphene==3.4.3
h11==0.16.0
scipy==1.17.0
google-auth==2.48.0
packaging==25.0
fonttools==4.61.1
Werkzeug==3.1.5
pip==24.3.1
joblib==1.5.3
pyasn1==0.6.2
pydantic==2.12.5
opentelemetry-semantic-conventions==0.60b1
six==1.17.0
platformdirs==4.9.2
Mako==1.3.10
graphql-relay==3.2.0
opentelemetry-api==1.39.1
pillow==12.1.1
tzdata==2025.3
alembic==1.18.4
mlflow-skinny==3.3.2
GitPython==3.1.46
antlr4-python3-runtime==4.9.3
cycler==0.12.1
certifi==2026.1.4
kiwisolver==1.4.9
starlette==0.52.1
Jinja2==3.1.6
threadpoolctl==3.6.0
cloudpickle==3.1.2
click==8.3.1
fastapi==0.129.0
cachetools==6.2.6
pyparsing==3.3.2
cffi==2.0.0
databricks-sdk==0.88.0
mlflow-tracing==3.3.2
annotated-doc==0.0.4
MarkupSafe==3.0.3
anyio==4.12.1
numpy==2.4.2
zipp==3.23.0
itsdangerous==2.2.0
urllib3==2.6.3
idna==3.11
docker==7.1.0
sentry-sdk==2.53.0
PySide6==6.10.2
PyYAML==6.0.3
pytz==2025.2
matplotlib==3.10.7
pandas==2.3.2
gitdb==4.0.12
uvicorn==0.40.0
shiboken6==6.10.2
Flask==3.1.2
rsa==4.9.1
